<!DOCTYPE html>
<html ng-app="angularApp">

<head lang="en">

    <!--Meta Information-->
    <meta name="viewport" content="width=1200" />
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!--Set the Application Base URI-->
    <base href="/">

    <!--Styles-->
    <link rel="stylesheet" type="text/css" href="css/default.css" />


    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js" type="text/javascript"></script>

    <!-- AngularJS - Route Module -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js" type="text/javascript"></script>

    <!--Custom Angular JavaScript-->
    <script src="js/default.js" type="text/javascript"></script>
    <script src="js/controllers.js" type="text/javascript"></script>
    <script src="js/routes.js" type="text/javascript"></script>

    <!--Firebase-->
    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>


    <title>Angular Template</title>

    </script>

</head>

<body>

    <!--Global Navigation Bar-->
    <div id="navbar" ng-controller="navCtrl">

        <!--NAV BAR hides when logged in/out-->
        <a href="/">HOME</a>
        <a href="login" ng-hide="isLogin()">LOGIN</a>
        <a href="register" ng-hide="isLogin()">REGISTER</a>
        <a href="profile" ng-show="isLogin()">PROFILE</a>
        <a href="forum" ng-show="isLogin()">FORUM</a>
        <a href="info">ABOUT</a>


        <!--This is a test button for console-->
        <input type="button" value="Am I logged in?" ng-click="isLogin()" />

        <!--Logout Button-->
        <input type="button" value="Logout" ng-show="isLogin()" ng-click="logout()" />

    </div>

    <!--SITE VIEW DIV-->

    <div ng-view autoscroll="true"></div>

</body>

</html>